################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SPData/obj/Release/netcoreapp3.1/SPDataService.pdb
