################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SPData/obj/Release/netcoreapp3.1/SPDataService.pdb
/StockPredictorML.Model/obj/Debug/netstandard2.0/StockPredictorML.ModelDeprecated.csproj.AssemblyReference.cache
/StockPredictorML.Model/obj/Debug/netstandard2.0
/StockPredictorML.ConsoleApp/obj/Debug/netcoreapp3.1/StockPredictorML.ConsoleApp.csproj.AssemblyReference.cache
/StockPredictorML.ConsoleApp/obj/Debug/netcoreapp3.1
/SPTrainer/obj/Release/netcoreapp3.1/SPTrainer.pdb
/SPTrainer/obj/Release/netcoreapp3.1/SPTrainer.genruntimeconfig.cache
/SPTrainer/obj/Release/netcoreapp3.1/SPTrainer.GeneratedMSBuildEditorConfig.editorconfig
/SPTrainer/obj/Release/netcoreapp3.1/SPTrainer.dll
/SPTrainer/obj/Release/netcoreapp3.1/SPTrainer.csproj.FileListAbsolute.txt
/SPTrainer/obj/Release/netcoreapp3.1/SPTrainer.csproj.CoreCompileInputs.cache
/SPTrainer/obj/Release/netcoreapp3.1/SPTrainer.csproj.CopyComplete
/SPTrainer/obj/Release/netcoreapp3.1/SPTrainer.csproj.BuildWithSkipAnalyzers
/SPTrainer/obj/Release/netcoreapp3.1/SPTrainer.csproj.AssemblyReference.cache
/SPTrainer/obj/Release/netcoreapp3.1/SPTrainer.assets.cache
/SPTrainer/obj/Release/netcoreapp3.1/SPTrainer.AssemblyInfoInputs.cache
/SPTrainer/obj/Release/netcoreapp3.1/SPTrainer.AssemblyInfo.cs
/SPTrainer/obj/Release/netcoreapp3.1/apphost.exe
/SPTrainer/obj/Release/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
/SPTrainer/obj/Release/netcoreapp3.1
/SPTrainer/obj/Debug/netcoreapp3.1/SPTrainer.genruntimeconfig.cache
/SPTrainer/obj/Debug/netcoreapp3.1/SPTrainer.csproj.CopyComplete
/SPTrainer/obj/Debug/netcoreapp3.1/SPTrainer.csproj.BuildWithSkipAnalyzers
/SPTrainer/obj/Debug/netcoreapp3.1/SPTrainer.csproj.AssemblyReference.cache
/SPTrainer/obj/Debug/netcoreapp3.1/apphost.exe
/SPTrainer/obj/Debug/netcoreapp3.1
/SPTrainer/obj
/SPTrainer/bin
/SPTrainer
/SPData/obj/Release/netcoreapp3.1/SPDataService.GeneratedMSBuildEditorConfig.editorconfig
/SPData/obj/Release/netcoreapp3.1/SPDataService.dll
/SPData/obj/Release/netcoreapp3.1/SPDataService.csproj.FileListAbsolute.txt
/SPData/obj/Release/netcoreapp3.1/SPDataService.csproj.CoreCompileInputs.cache
/SPData/obj/Release/netcoreapp3.1/SPDataService.csproj.CopyComplete
/SPData/obj/Release/netcoreapp3.1/SPDataService.csproj.BuildWithSkipAnalyzers
/SPData/obj/Release/netcoreapp3.1/SPDataService.csproj.AssemblyReference.cache
/SPData/obj/Release/netcoreapp3.1/SPDataService.assets.cache
/SPData/obj/Release/netcoreapp3.1/SPDataService.AssemblyInfoInputs.cache
/SPData/obj/Release/netcoreapp3.1/SPDataService.AssemblyInfo.cs
/SPData/obj/Release/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
/SPData/obj/Release/netcoreapp3.1
/SPData/obj/Debug/netcoreapp3.1/SPDataService.csproj.BuildWithSkipAnalyzers
/SPData/obj/Debug/netcoreapp3.1/SPDataService.csproj.AssemblyReference.cache
/SPData/obj/Debug/netcoreapp3.1
/SPData/obj
/SPData/bin/Release/netcoreapp3.1/SPTrainer.runtimeconfig.json
/SPData/bin/Release/netcoreapp3.1/SPTrainer.runtimeconfig.dev.json
/SPData/bin/Release/netcoreapp3.1/SPTrainer.pdb
/SPData/bin/Release/netcoreapp3.1/SPTrainer.exe
/SPData/bin/Release/netcoreapp3.1/SPTrainer.dll
/SPData/bin/Release/netcoreapp3.1/SPTrainer.deps.json
/SPData/bin/Release/netcoreapp3.1/SPDataService.pdb
/SPData/bin/Release/netcoreapp3.1/SPDataService.dll
/SPData/bin/Release/netcoreapp3.1/SPDataService.deps.json
/SPData/bin/Release/netcoreapp3.1
/SPData/bin/Debug/netcoreapp3.1/SPTrainer.runtimeconfig.json
/SPData/bin/Debug/netcoreapp3.1/SPTrainer.runtimeconfig.dev.json
/SPData/bin/Debug/netcoreapp3.1/SPTrainer.exe
/SPData/bin/Debug/netcoreapp3.1/SPTrainer.deps.json
/SPData/bin/Debug/netcoreapp3.1
/SPData/bin
/SPData
/SPDAO/obj/Debug/netcoreapp3.1/SPDAO.csproj.BuildWithSkipAnalyzers
/SPDAO/obj/Debug/netcoreapp3.1/SPDAO.csproj.AssemblyReference.cache
/SPDAO/obj/Debug/netcoreapp3.1
/SPApiModel/obj
/SPApiModel/bin
/SPApiModel
/.vs
